*.sln
*.vspx
*.csproj
*.config
.vs
.vs/*
MultilayerPerceptron/Properties
MultilayerPerceptron/Properties/*
MultilayerPerceptron/obj
MultilayerPerceptron/obj/*
MultilayerPerceptron/bin
MultilayerPerceptron/bin/*
